.main-section {
  min-height: 100vh;
  color: #fff;
}


.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}



.overlay {
width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.standing-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  font-size: 84px;
  padding-top: 175px;
}

.repeating-image {
  background-repeat: repeat;
  background-color: black;
}